/* html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-image: url('https://your-background-image-url.com');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%; 
  text-align: center;
}

.animations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.giftLine{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full viewport width */
  text-align: center;
  position: relative;
  overflow: hidden;
}

.animations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.giftLine {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
